
<div class="content" role="main">
  <h1>Welcome to {{ title }}!</h1>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <label for="name"> Name:</label>
      <input id="name" formControlName="name" placeholder="Your name" />
      <div *ngIf="f['name']['touched'] && f['name']['invalid']">
        <span style="color: red;" *ngIf="f?.['name']?.['errors']?.['required']">Please provide a name</span>
      </div>
    </div>
    <div class="container">
      <label for="email"> Email: </label>
      <input id="email" formControlName="email" placeholder="Your email" />
      <div *ngIf="f['email']['touched'] && f['email']['invalid']">
        <span style="color: red;" *ngIf="f?.['email']?.['errors']?.['required']">Please provide a email</span>
        <span style="color: red;" *ngIf="f?.['email']?.['errors']?.['email']">Please provide a valid email</span>
      </div>
    </div>
    <div class="container">
      <label for="message">
        Message:
      </label>
      <input id="message" formControlName="message" placeholder="Your message" />
      <div *ngIf="f['message']['touched'] && f['message']['invalid']">
        <span style="color: red;" *ngIf="f?.['message']?.['errors']?.['required']">Please provide a message</span>
      </div>
    </div>
    <button style="margin: 10px" type="submit">Send</button>
  </form>
</div>
